
.header-contaner{
    display: flex;
   justify-content: center;
}


.banar{
    display: flex;
    background-color:black ;
    border-radius: 20px;
    width: 80%;
    padding-top: 30px;
    margin-top: 50px;
   
}
.hap-width{
   width: 50%;    
}
.hap-width img{
    width: 80%;
    margin-left: 30px;
}

.banar-info{
    margin-left: 40px;
}
.banar-info h2{
   font-size: 4vw;
   color: whitesmoke;
   margin-bottom: 2vw;
}
.banar-info p{
    font-size: 1vw;
    color: whitesmoke;
    margin-bottom: 2.5vw;
   
    
}

.bouton a{
text-decoration: none;
color: whitesmoke;
display: inline-block;
background-color: red;
padding: 1vw 2vw;
border-radius: 4px;
}


/* end  */

.from{
    height: 220px;
    width: 220px;
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    border-radius: 10px;
}

   .Upcoming{
    display: flex;
    flex-direction: column;
    margin: auto;
   }
   .Upcoming a{
    background-color: whitesmoke;
    text-decoration: none;
    margin: 10px 40px;
    text-align: center;
    padding: 10px 5px;
    font-size: 14px;
    color: black;
    border-radius: 5px;
   }



main{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.blogs{
    display: grid;
    grid-template-columns:repeat(3 ,1fr);
    grid-gap: 20px;
    
   
   
    
}

/* blogsa  */
.thumbal image{
    width: 100%;
}
.blog a{
    text-decoration: none;
    border: 1px solid gray;
    padding: 4px 10px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 4px;
}
.icon{
    display: flex;
}
.icon p{
    margin: 0 10px;
}

/* footer start  */


.manu{
    margin: 0 10px;
}footer{
    height: 300px;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
    
}
footer h2{
    font-size: 40px;
}
.fotar-manu{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
footer hr{
    margin: 0 15%;
}


@media screen and (max-width:767px) {
    main{
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
        margin-top: 0%; 
    }
    .from{
        background-color: rgb(255, 255, 255); 
    }
    .blogs{
        grid-template-columns: repeat(1 ,1fr);
        width: 100%;
    }
    .banar{
        flex-direction: column;
    }
    }


    @media screen and (min-width:768px) and (max-width:1024px) {
        main{
            flex-direction: column;
            margin-bottom: 20px;
            align-items: center;
            margin-top: 0%; 
        }
        .from{
            background-color: rgb(255, 255, 255); 
            width: 100%;
            
        }
        .blogs{
            grid-template-columns: repeat(2 ,1fr);
            width: 100%;
        }
        
        .Upcoming{
            flex-direction: row;

        }
    }